{% extends 'todo/base.html' %}

{% block header %}
<h1>TodoList</h1>
<h4><a href="admin/">ログイン</a></h4>
{% if user.is_authenticated %}
    <h4><a href="{% url 'create' %}">新規作成</a></h4>
{% endif %}
{% endblock header %}

{% block content %}
<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <table>
        <thead>
            <tr>
                <th scope="col">タイトル</th>
                <th scope="col">締め切り</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.deadline }}</td>
                <td><a href="{% url 'detail' task.pk %}">詳細</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}