{% extends 'todo/base.html' %}

{% block header %}
<h1>Todo Detail</h1>
{% endblock header %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>{{ task.title}}</h2>
        <p>{{task.description}}</p>
        <p><small class="text-muted">{{task.deadline}}</small></p>
    </div>
</div>
<a class="btn btn-outline-secondary mt-2" href="{% url 'list' %}" role="button">Back</a>
<a class="btn btn-outline-secondary mt-2" href="{% url 'update' task.pk %}" role="button">Update</a>
<a class="btn btn-danger mt-2" href="{% url 'delete' task.pk %}" role="button">Delete</a>
{% endblock content %}